/* General Body Styling */
body {
  font-family: 'Fredoka', Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

#chat-screen, #admin-panel {
  text-align: center;
  padding: 20px;
}

#admin-icon {
  font-size: 20px;
  cursor: pointer;
}

#admin-panel {
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  width: 80%;
}
